# Load Data

In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
training = pd.read_csv('training_set.csv', sep=',', header=0)

training_info = pd.read_csv('training_info.csv', sep=',', header=0)

test = pd.read_csv('test_set.csv', sep=',', header=0)

test_info = pd.read_csv('test_info.csv', sep=',', header=0)

In [3]:
print(training.shape)
training.head()

(125, 2)

,sender,mids
0,karen.buckley@enron.com,158713 158697 200301 158679 278595 298162 2002...
1,amr.ibrahim@enron.com,215241 3437 215640 3506 191790 3517 3520 3562 ...
2,andrea.ring@enron.com,270705 270706 270707 270708 270709 270710 2707...
3,sylvia.hu@enron.com,111444 111422 183084 111412 111347 110883 1105...
4,phillip.platter@enron.com,327074 327384 327385 264443 274124 274125 2741...

In [4]:
print(training_info.shape)
training_info.head()

(43613, 4)

,mid,date,body,recipients
0,60,2000-07-25 08:14:00,Legal has been assessing the risks of doing bl...,robert.badeer@enron.com murray.o neil@enron.co...
1,66,2000-08-03 02:56:00,Attached is a spreadsheet to estimate export f...,kim.ward@enron.com robert.badeer@enron.com mur...
2,74,2000-08-15 05:37:00,Kevin/Bob: Here is a quick rundown on the cons...,robert.badeer@enron.com john.massey@enron.com ...
3,80,2000-08-20 14:12:00,check this out and let everyone know what s up...,robert.badeer@enron.com jeff.richter@enron.com
4,83,2000-08-22 08:17:00,Further to your letter to us (addressed to Mr....,pgillman@schiffhardin.com kamarlantes@calpx.co...

In [5]:
print(test.shape)
test.head()

(125, 2)

,sender,mids
0,karen.buckley@enron.com,298389 332383 298390 284071 366982 81773 81791...
1,amr.ibrahim@enron.com,48260 48465 50344 48268 50330 48237 189979 189...
2,andrea.ring@enron.com,366364 271168 271172 271167 271189
3,sylvia.hu@enron.com,134931 134856 233549 233517 134895 233584 3736...
4,phillip.platter@enron.com,274220 274225 274215 274223 274214 274207 2742...

In [6]:
print(test_info.shape)
test_info.head()

(2362, 3)

,mid,date,body
0,1577,2001-11-19 06:59:51,Note: Stocks of heating oil are very high for...
1,1750,2002-03-05 08:46:57,"Kevin Hyatt and I are going for ""sghetti"" at S..."
2,1916,2002-02-13 14:17:39,This was forwarded to me and it is funny. - Wi...
3,2094,2002-01-22 11:33:56,I will be in to and happy to assist too. I ma...
4,2205,2002-01-11 07:12:19,Thanks. I needed a morning chuckle.

In [7]:
print(type(test_info.mid.values[1]))

<class 'numpy.int64'>

# Combine dataframes

In [8]:
def transform(dataframe):
    df = dataframe.copy()
    training_arrays = []
    for index, series in df.iterrows():
        row = series.tolist()
        sender = row[0]
        ids = row[1:][0].split(' ')
        for id in ids:
            training_arrays.append([sender,int(id)])
    return pd.DataFrame(training_arrays,columns=['sender','mid'])

In [9]:
training_v0 = transform(training)
test_v0 = transform(test)
print(training_v0.shape)
training_v0.head()

(43613, 2)

                    sender     mid
0  karen.buckley@enron.com  158713
1  karen.buckley@enron.com  158697
2  karen.buckley@enron.com  200301
3  karen.buckley@enron.com  158679
4  karen.buckley@enron.com  278595

In [10]:
print(test_v0.shape)
test_v0.head()

(2362, 2)

                    sender     mid
0  karen.buckley@enron.com  298389
1  karen.buckley@enron.com  332383
2  karen.buckley@enron.com  298390
3  karen.buckley@enron.com  284071
4  karen.buckley@enron.com  366982

In [11]:
df_train = training_v0.join(training_info.set_index('mid'),on='mid')
df_test = test_v0.join(test_info.set_index('mid'),on='mid')

In [12]:
print(df_train.shape)
df_train.head()

(43613, 5)

,sender,mid,date,body,recipients
0,karen.buckley@enron.com,158713,2001-03-30 07:07:00,Hi JasonTed let me know of the situation with ...,jason.wolfe@enron.com
1,karen.buckley@enron.com,158697,2001-04-10 02:41:00,"All,John Lavorato has requested your attendanc...",elizabeth.shim@enron.com russell.ballato@enron...
2,karen.buckley@enron.com,200301,2001-04-10 12:41:00,"All,John Lavorato has requested your attendanc...",elizabeth.shim@enron.com russell.ballato@enron...
3,karen.buckley@enron.com,158679,2001-04-18 02:02:00,AllA reminder that Philip Allen will be presen...,vladi.pimenov@enron.com russell.ballato@enron....
4,karen.buckley@enron.com,278595,2001-04-19 21:31:00,"All,We will be scheduling the next recruitment...",thomas.a.martin@enron.com ed.mcmichael@enron.c...

In [13]:
print(df_test.shape)
df_test.head()

(2362, 4)

,sender,mid,date,body
0,karen.buckley@enron.com,298389,2001-11-02 08:39:13,John/LouiseAttached is the final spreadsheet ...
1,karen.buckley@enron.com,332383,2002-02-05 17:00:55,"X-FileName: john griffith 6-25-02.PSTAll,I hav..."
2,karen.buckley@enron.com,298390,2001-11-05 08:15:06,"All,The below is the confirmed list of those w..."
3,karen.buckley@enron.com,284071,2002-01-31 14:55:50,"X-FileName: jon mckay 7-11-02.PSTHi Jonathan,S..."
4,karen.buckley@enron.com,366982,2002-02-04 17:03:25,"X-FileName: rob benson 6-25-02.PSTAll,As you h..."

In [14]:
import datetime
options_weekend = {'Monday' : 0,
            'Tuesday' : 0,
            'Wednesday' : 0,
            'Thursday' : 0,
            'Friday' : 0,
            'Saturday' : 1,
            'Sunday' : 1,
}

def gettime(dataframe):
    df = dataframe.copy()
    n = len(df)
    for i in np.arange(n):
        tmp = df.ix[i].date
        year = '{d.year}'.format(d=datetime.datetime.strptime(tmp, '%Y-%m-%d %H:%M:%S'))
        month = '{d.month}'.format(d=datetime.datetime.strptime(tmp, '%Y-%m-%d %H:%M:%S'))
        day = '{d.day}'.format(d=datetime.datetime.strptime(tmp, '%Y-%m-%d %H:%M:%S'))
        weekday = datetime.datetime.strptime(tmp, '%Y-%m-%d %H:%M:%S').strftime('%A')
        hour = '{d.hour}'.format(d=datetime.datetime.strptime(tmp, '%Y-%m-%d %H:%M:%S'))
#        minute = datetime.datetime.strptime(tmp, '%Y-%m-%d %H:%M:%S').strftime('%M')
        df.set_value(i, 'DAY_WE_DS', weekday)
        df.set_value(i, 'WEEK_END', options_weekend[weekday])
        df.set_value(i, 'TPER_HOUR', hour)
        df.set_value(i, 'year', year)
        df.set_value(i, 'month', month)
        df.set_value(i, 'day', day)
        if (int(hour)>=8 and int(hour)<=22) :
            df.set_value(i, 'TPER_TEAM', 1)
        else: df.set_value(i, 'TPER_TEAM', 0)
    return df

In [15]:
df_train_v0 = gettime(df_train)
df_test_v0 = gettime(df_test)

In [16]:
len(df_train_v0)

43613

In [17]:
df_train_v0.head()

,sender,mid,date,body,recipients,DAY_WE_DS,WEEK_END,TPER_HOUR,year,month,day,TPER_TEAM
0,karen.buckley@enron.com,158713,2001-03-30 07:07:00,Hi JasonTed let me know of the situation with ...,jason.wolfe@enron.com,Friday,0.0,7,2001,3,30,0.0
1,karen.buckley@enron.com,158697,2001-04-10 02:41:00,"All,John Lavorato has requested your attendanc...",elizabeth.shim@enron.com russell.ballato@enron...,Tuesday,0.0,2,2001,4,10,0.0
2,karen.buckley@enron.com,200301,2001-04-10 12:41:00,"All,John Lavorato has requested your attendanc...",elizabeth.shim@enron.com russell.ballato@enron...,Tuesday,0.0,12,2001,4,10,1.0
3,karen.buckley@enron.com,158679,2001-04-18 02:02:00,AllA reminder that Philip Allen will be presen...,vladi.pimenov@enron.com russell.ballato@enron....,Wednesday,0.0,2,2001,4,18,0.0
4,karen.buckley@enron.com,278595,2001-04-19 21:31:00,"All,We will be scheduling the next recruitment...",thomas.a.martin@enron.com ed.mcmichael@enron.c...,Thursday,0.0,21,2001,4,19,1.0

In [18]:
df_test_v0.head()

,sender,mid,date,body,DAY_WE_DS,WEEK_END,TPER_HOUR,year,month,day,TPER_TEAM
0,karen.buckley@enron.com,298389,2001-11-02 08:39:13,John/LouiseAttached is the final spreadsheet ...,Friday,0.0,8,2001,11,2,1.0
1,karen.buckley@enron.com,332383,2002-02-05 17:00:55,"X-FileName: john griffith 6-25-02.PSTAll,I hav...",Tuesday,0.0,17,2002,2,5,1.0
2,karen.buckley@enron.com,298390,2001-11-05 08:15:06,"All,The below is the confirmed list of those w...",Monday,0.0,8,2001,11,5,1.0
3,karen.buckley@enron.com,284071,2002-01-31 14:55:50,"X-FileName: jon mckay 7-11-02.PSTHi Jonathan,S...",Thursday,0.0,14,2002,1,31,1.0
4,karen.buckley@enron.com,366982,2002-02-04 17:03:25,"X-FileName: rob benson 6-25-02.PSTAll,As you h...",Monday,0.0,17,2002,2,4,1.0

In [19]:
tmppp = pd.get_dummies(pd.concat([df_train_v0,df_test_v0],axis=0)[['DAY_WE_DS','WEEK_END','TPER_HOUR','month','day','TPER_TEAM']])

In [20]:
df_train_v1 = tmppp[:43613]

In [21]:
df_test_v1 = tmppp[43613:]

In [22]:
df_test_v1.head()

,WEEK_END,TPER_TEAM,DAY_WE_DS_Friday,DAY_WE_DS_Monday,DAY_WE_DS_Saturday,DAY_WE_DS_Sunday,DAY_WE_DS_Thursday,DAY_WE_DS_Tuesday,DAY_WE_DS_Wednesday,TPER_HOUR_0,...,day_29,day_3,day_30,day_31,day_4,day_5,day_6,day_7,day_8,day_9
0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

## unique number of senders and recipients

In [23]:
senders = np.unique(df_train['sender'].values)
R = df_train['recipients'].values
res = []
for j in R:
    res.append(j.split(' '))    
    #flatten
res_flatten = [elt for sublist in res for elt in sublist] 
res_unique = np.unique(res_flatten)

In [24]:
len(senders)

125

In [25]:
s2 = senders[2]

In [26]:
len(res_unique)

9871

## preprocess body

## saved result

### Given wordlist(filt), compute matrix TF-IDF by SENDER, RECIPIENT

In [27]:
# for all messages m_u sent by user u, we derived the message’s TF-IDF vector representation from its textual contents 
# and then normalized the vector to length 1. 

# We then built, for each recipient r_i in the Address Book AB(u), a TF-IDF centroid vector C(r_i), by summing up the normalized 
# TF-IDF vectors of all messages that were sent from u to r_i.

# When testing, for each test message we computed the cosine similarities between the message’s TF-IDF vector representation and the
# |AB(u)| Centroid vectors. The |AB(u)| recipients are then ranked according to these cosine similarity scores

## some useful dictionaries
- idx_bySR = {key:row_idx, values: (s1,r1),(s1,r2)}
- sr_unique = np.unique(idx_bySR.values)
- index_senders[s] : index-of-rows in df_train where df_train['sender']=s

In [28]:
R = df_train['recipients'].values
S = df_train['sender'].values

In [29]:
"""idx_bySR = {key:row_idx, values: (s1,r1),(s1,r2)}"""

from collections import defaultdict
idx_bySR = defaultdict(list)

for i, j in enumerate(R):
    s = S[i]
    
    recp = [elt for elt in j.split(' ')] 
    
    for r in recp:
        idx_bySR[i].append((s,r))

In [30]:
idx_bySR[2]

[('karen.buckley@enron.com', 'elizabeth.shim@enron.com'),
 ('karen.buckley@enron.com', 'russell.ballato@enron.com'),
 ('karen.buckley@enron.com', 'steve.gim@enron.com'),
 ('karen.buckley@enron.com', 'juan.padron@enron.com'),
 ('karen.buckley@enron.com', 'mog.heu@enron.com'),
 ('karen.buckley@enron.com', 'jason.wolfe@enron.com'),
 ('karen.buckley@enron.com', 'virawan.yawapongsiri@enron.com'),
 ('karen.buckley@enron.com', 'joseph.wagner@enron.com'),
 ('karen.buckley@enron.com', 'chuck.ames@enron.com'),
 ('karen.buckley@enron.com', 'paul.schiavone@enron.com'),
 ('karen.buckley@enron.com', 'matt.smith@enron.com'),
 ('karen.buckley@enron.com', 'denver.plachy@enron.com'),
 ('karen.buckley@enron.com', 'bilal.bajwa@enron.com')]

In [31]:
"""sr_unique = np.unique(idx_bySR.values)"""

sr_unique = set( val for dic in idx_bySR.values() for val in dic)

In [32]:
len(sr_unique)

23309

In [33]:
"""index_senders[s] returns index of rows in df_train where df_train['sender']=s """

index_senders = {}

for s in senders:
    # row index where "sender" = s
    index_senders[s] = df_train[df_train["sender"]==s].index.tolist()

In [34]:
senders_test = np.unique(df_test["sender"])

In [35]:
index_senders_test ={}

for s in senders_test:
    # row index where "sender" = s
    index_senders_test[s] = df_test[df_test["sender"]==s].index.tolist()

### create a dictionary of wordlist
wordlist["s1"] stores all the key words of mails sent by s1

In [36]:
s1 = 'karen.buckley@enron.com'
#len(wordlist[s1])

### Compute Centroids of (sender, recipient)

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import csr_matrix
from stop_words import get_stop_words

stop_words = get_stop_words('english')

In [40]:
tfidf = TfidfVectorizer(stop_words = stop_words)
tfidf_bySender={}
tfidf_tr_bySender ={}
tfidf_test_bySender={}

for s in senders:
    tfidf_bySender[s] = tfidf.fit_transform(np.concatenate((df_train.ix[index_senders[s]]['body'].values,df_test.ix[index_senders_test[s]]['body'].values)))

for s in senders:
    tmp_tr = df_train_v1.ix[index_senders[s]].values
    tmp_te = df_test_v1.ix[index_senders_test[s]].values
    tfidf_tr_bySender[s] = csr_matrix(np.concatenate((tfidf_bySender[s][:len(index_senders[s])].toarray(),tmp_tr),axis=1))
    tfidf_test_bySender[s] = csr_matrix(np.concatenate((tfidf_bySender[s][len(index_senders[s]):].toarray(),tmp_te),axis=1))

In [41]:
aqw = np.zeros((3,4))
zae = np.ones((3,5))
np.concatenate((aqw,zae),axis=1)

array([[ 0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  1.],
       [ 0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  1.],
       [ 0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  1.]])

In [42]:
tfidf_tr_bySender[s2].toarray().shape

(77, 209)

In [43]:
np.array([['asassasasasasa','x'],['b','d']]).ravel()

array(['asassasasasasa', 'x', 'b', 'd'],
      dtype='<U14')

In [44]:
tfidf_tr_bySender[s2].shape

(77, 209)

In [ ]:
from sklearn.preprocessing import Normalizer

In [ ]:
normalizer = Normalizer()
aze= normalizer.fit_transform(tfidf_tr_bySender[s2])

SyntaxError: invalid syntax (<ipython-input-162-99ffacac23ed>, line 1)

In [192]:
from sklearn.cluster import KMeans
clusterings = {}
dict_clusters = {}
for s in senders:
    n_clu = 3
    clf = KMeans(n_clusters=n_clu, random_state=0).fit(tfidf_tr_bySender[s])
    clusterings[s] = clf
    dict_clusters[s] = {}
    for cluster in range(n_clu):
        recp_tmp = []
        for i in np.array(index_senders[s])[np.where(clf.labels_== cluster)[0]]:
            recp_tmp.append([sr[1] for sr in idx_bySR[i]])
        recp_tmp = [item for sublist in recp_tmp for item in sublist]
        d = {x:recp_tmp.count(x) for x in recp_tmp}
        recep,b = list(d.keys()), list(d.values())
        j = np.argsort(b)[::-1][:10]
        dict_clusters[s][cluster] = [recep[k] for k in j ]
        
dict_test_recps={}
for s in senders_test:
    dict_test_recps[s] = []
    tmp_pred = clusterings[s].predict(tfidf_test_bySender[s])
    for i in tmp_pred:
        dict_test_recps[s].append(dict_clusters[s][i])

In [ ]:
from sklearn.mixture import BayesianGaussianMixture
clusterings = {}
dict_clusters = {}
for s in senders:
    n_clu = 10
    clf = BayesianGaussianMixture(n_components=n_clu, random_state=0).fit(tfidf_tr_bySender[s].toarray())
    clusterings[s] = clf
    dict_clusters[s] = {}
    for cluster in range(n_clu):
        recp_tmp = []
        for i in np.array(index_senders[s])[np.where(clf.predict(tfidf_tr_bySender[s].toarray())== cluster)[0]]:
            recp_tmp.append([sr[1] for sr in idx_bySR[i]])
        recp_tmp = [item for sublist in recp_tmp for item in sublist]
        d = {x:recp_tmp.count(x) for x in recp_tmp}
        recep,b = list(d.keys()), list(d.values())
        j = np.argsort(b)[::-1][:10]
        dict_clusters[s][cluster] = [recep[k] for k in j ]
        
dict_test_recps={}
for s in senders_test:
    dict_test_recps[s] = []
    tmp_pred = clusterings[s].predict(tfidf_test_bySender[s])
    for i in tmp_pred:
        dict_test_recps[s].append(dict_clusters[s][i])

## Submission

In [193]:
output={}

for s in senders_test:
    n_mail_bySender = len(dict_test_recps[s])

    for i in range(n_mail_bySender):
        output[index_senders_test[s][i]] = dict_test_recps[s][i]

In [194]:
import collections

od = collections.OrderedDict(sorted(output.items()))

pred_recps = [od[i] for i in range(len(od))]

In [195]:
pred_recps[0]

['lloyd.will@enron.com',
 'scott.neal@enron.com',
 'ed.mcmichael@enron.com',
 'robert.superty@enron.com',
 'hunter.s.shively@enron.com',
 'rogers.herndon@enron.com',
 'jason.wolfe@enron.com',
 'chris.gaskill@enron.com',
 'phillip.k.ellen@enron.com',
 'adrianne.engler@enron.com']

In [196]:
predictions_per_sender= {}

for i in range(len(df_test)):
    predictions_per_sender[i] = [df_test['mid'][i],pred_recps[i]]

In [197]:
for _, my_preds in enumerate(pred_recps[0]):
    print (my_preds)

lloyd.will@enron.com
scott.neal@enron.com
ed.mcmichael@enron.com
robert.superty@enron.com
hunter.s.shively@enron.com
rogers.herndon@enron.com
jason.wolfe@enron.com
chris.gaskill@enron.com
phillip.k.ellen@enron.com
adrianne.engler@enron.com

In [198]:
"c..gossett@enron.com" in res_unique

True

In [199]:
#################################################
# write predictions in proper format for Kaggle #                           
#################################################

with open('predictions_tfidf_new2222222222222222222222222.txt', 'w') as my_file:
    my_file.write('mid,recipients' + '\n')
    for _, preds in predictions_per_sender.items():
        ids = preds[0]
        tfidf_preds = preds[1]
        
        recp = ' '.join(tfidf_preds)
        
        my_file.write(str(ids) + ',' + recp + '\n')